<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Aplikasi Perkiraan Cuaca
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="main">
        <span class="city">Manado </span>
        <span class="date">Sen, 12.08 WITA</span>

        <div class="icon">
            <img src="" alt="">
        </div>

        <span class="description">Cloudy</span>
        <span class="temperature"> 18 °C</span>
    </div>

</ion-content>
